/* GLOBALS SETTINGS */
body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  max-width: 800px;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

h1,
h2 {
  font-family: "Roboto Mono", monospace;
  color: #2c363f;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", sans-serif;
  color: #2c363f;
  font-weight: 700;
}

a {
  color: #ffffff;
}

a:hover {
  color: #5dd9c1;
}

p {
  font-family: "Roboto Mono", sans-serif;
  font-size: calc(9px + 0.5vw);
  word-wrap: break-word;
  color: #2c363f;
  line-height: 1.5;
}

h2.section-header {
  display: block;
  width: 100%;
  font-size: calc(12px + 0.5vw);
  border-top: 2px #5dd9c1 solid;
  color: #202020;
  padding-top: 5px;
  margin: 20px 0 10px 0;
  font-weight: 700;
}

#contact-header {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px 40px 5px 40px;
  z-index: 1;
  color: white;
  border-bottom: 2px solid #acfcd9;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#contact-header .contact-row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#contact-header .contact-card {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
  background-color: black;
}

#contact-header p.contact-details {
  font-family: "Roboto Mono", monospace;
  font-size: calc(10px + 0.5vw);
  margin-top: -5px;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
}

#contact-header .icons {
  padding: 0;
  margin-top: 7px;
  padding-right: 7px;
  color: #ffffff;
}

#contact-header .card-body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

#intro h1.my-name {
  font-size: 5vw;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-family: "Roboto Mono", monospace;
  color: #050505;
}

#intro h3.my-headline {
  font-size: 2.5vw;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
}

#intro p.my-summary {
  font-size: calc(9px + 0.5vw);
  line-height: 1.5;
  color: #2c363f;
}

#skills {
  margin-bottom: 10px;
}

#skills .skills-title {
  padding-right: 70px;
}

#skills h2 {
  margin-bottom: 30px;
}

.skill-row h3.skills-title {
  font-size: calc(12px + 0.5vw);
}

.experience-rows .experience-title {
  margin: 25px 0 0 0;
  padding: 0;
  font-size: calc(12px + 0.5vw);
}

.experience-rows .experience-dates {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: calc(7px + 0.5vw);
  font-weight: 500;
  color: #505050;
}

.experience-rows .experience-location {
  margin: 30px 0 0 0;
  color: #2c363f;
  padding: 0;
  font-size: calc(10px + 0.5vw);
}

.experience-rows .experience-city {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: calc(7px + 0.5vw);
  font-weight: 500;
  color: #2c363f;
  color: #505050;
}

.experience-rows p.client-list {
  font-size: calc(8px + 0.5vw);
  font-size: calc(7px + 0.5vw);
  line-height: 1.5;
  margin: 4px 0 6px 0;
  font-weight: 500;
  color: #505050;
}

.experience-rows p.experience-description {
  font-size: calc(9px + 0.5vw);
  line-height: 1.5;
  padding: 0;
  margin: 0 0 10px 0;
  color: #2c363f;
}

.experience-rows .mobile-bold {
  font-weight: 700;
  color: #2c363f;
}

.experience-rows .soda {
  margin-top: -10px;
}

.experience-rows p.soda {
  margin-top: -2px;
}

.experience-rows ul {
  font-family: "Roboto Mono", monospace;
  color: #2c363f;
  font-size: calc(9px + 0.5vw);
  position: relative;
  left: -10px;
  margin-top: 10px;
  padding-right: 5px;
  line-height: 1.5;
}

.experience-rows li {
  margin: 0 0 8px 0;
  padding-right: 5px;
}

.experience-rows a {
  color: #2c363f;
  text-decoration: underline;
  -webkit-text-decoration-color: #5dd9c1;
          text-decoration-color: #5dd9c1;
}

.experience-rows .last-p {
  margin-top: 2px;
}

#skills {
  margin-bottom: 20px;
}

#skills .skill-box {
  position: relative;
}

#skills .card {
  border: #f5f5f5 2px solid;
}

#skills .project-title {
  padding-right: 50px;
  font-size: calc(10px + 0.5vw);
}

#skills .project-desc {
  font-size: calc(7px + 0.5vw);
}

#skills .project-button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px;
}

#skills .icons {
  padding-right: 5px;
}

#skills h2 {
  margin-bottom: 30px;
}

#skills .view-project p {
  font-weight: 700;
}

#skills .view-project a {
  color: #2c363f;
  font-size: calc(8px + 0.5vw);
  font-weight: 700;
}

#skills .view-project a:hover {
  color: #5dd9c1;
}

#projects {
  margin-bottom: 20px;
}

#projects .skill-box {
  position: relative;
}

#projects .card {
  border: #f5f5f5 2px solid;
}

#projects .project-title {
  font-size: calc(10px + 0.5vw);
}

#projects .project-desc {
  font-size: calc(7px + 0.5vw);
}

#projects .project-button {
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px;
}

#projects .icons {
  padding-right: 5px;
}

#projects h2 {
  margin-bottom: 30px;
}

#projects .view-project p {
  font-weight: 700;
}

#projects .view-project a {
  color: #2c363f;
  font-size: calc(8px + 0.5vw);
  font-weight: 700;
}

#projects .view-project a:hover {
  color: #5dd9c1;
}

#experience {
  margin-bottom: 10px;
}

#education p.experience-description {
  margin: 6px 0 10px 0;
}

@media only screen and (max-width: 2500px) {
  #mobile-contact {
    display: none;
  }
  .mobile-header {
    display: none;
  }
  .mobile-block-top {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 100%;
    overflow: hidden;
  }
  #contact-header {
    display: none;
  }
  .mobile-block-top {
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    background-color: black;
    border-bottom: 1.5px #5dd9c1 solid;
    overflow: hidden;
  }
  #projects h5.project-title {
    font-size: calc(16px + 0.5vw);
  }
  #projects .view-project {
    font-size: calc(11px + 0.5vw);
    padding-left: 6px;
  }
  #intro h1.my-name {
    font-size: 18vw;
    margin: 0;
    margin-left: 20px;
    padding: 0 80px 0 3px;
    line-height: 1;
    font-family: "Roboto Mono", monospace;
    color: #050505;
    width: 10;
  }
  #intro h3.my-headline {
    font-size: 7vw;
    padding: 0 0 0 6px;
    font-family: "Roboto Mono", monospace;
    margin: 10px 0 20px 20px;
  }
  #intro p.my-summary {
    font-size: calc(11px + 0.5vw);
    line-height: 1.8;
    padding: 0 6px 0 6px;
    width: 100%;
    color: #2c363f;
    margin-left: 20px;
    width: 95%;
  }
  #mobile-contact {
    display: inline;
  }
  #mobile-contact a {
    color: #050505;
  }
  #mobile-contact .card-body {
    padding: 0;
    margin-left: 20px;
  }
  #mobile-contact .contact-card {
    border: none;
  }
  #mobile-contact .contact-details {
    font-size: calc(11px + 0.5vw);
    font-weight: 700;
    line-height: 1.8;
    padding: 0 6px 0 6px;
    white-space: nowrap;
  }
  #mobile-contact .icons {
    padding-right: 10px;
  }
  .no-gutters {
    width: 100%;
    overflow: hidden;
  }
  .main-container {
    padding-top: 10px;
  }
  h2.section-header {
    padding-left: 23px;
    font-size: calc(16px + 0.5vw);
    font-weight: 300;
    padding-top: 10px;
    display: inline-block;
  }
  .experience-rows {
    padding-left: 18px;
  }
  .experience-rows .experience-title {
    margin: 15px 0 0 6px;
    padding: 0;
    font-size: calc(16px + 0.5vw);
    padding-top: 15px;
    border-top: 1px rgba(128, 128, 128, 0.2) solid;
  }
  .experience-rows .no-border {
    border: none;
  }
  .experience-rows .experience-dates {
    margin: 3px 0 0 6px;
    padding: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 500;
    color: #2c363f;
    text-transform: none;
  }
  .experience-rows .experience-location {
    margin: 3px 0 0 6px;
    color: #2c363f;
    font-weight: 500;
    padding: 0;
    font-size: calc(10px + 0.5vw);
  }
  .experience-rows .experience-city {
    margin: 3px 0 0 6px;
    padding: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 500;
    text-transform: none;
    color: #2c363f;
  }
  .experience-rows .client-list {
    margin: 5px 6px 10px 6px;
    padding: 0 6px 0 0;
  }
  .experience-rows .experience-full-width-mobile {
    margin: 5px 6px 10px 20px;
    padding: 0 6px 0 0;
  }
  .experience-rows p.client-list {
    margin: 0 6px 8px 20px;
    padding: 0 6px 0 0;
    font-size: calc(10px + 0.5vw);
    line-height: 1.5;
    margin: 5px 0 5px 0;
    color: #2c363f;
    width: 90%;
  }
  .experience-rows p.experience-description {
    font-size: calc(11px + 0.5vw);
    line-height: 1.6;
    padding: 0 6px 0 0;
    margin: 8px 6px 10px 0;
    color: #2c363f;
  }
  .experience-rows .mobile-bold {
    font-weight: 700;
  }
  .experience-rows ul {
    font-family: "Roboto Mono", monospace;
    color: #2c363f;
    font-size: calc(11px + 0.5vw);
    position: relative;
    left: -40px;
    margin-top: 12px;
    line-height: 1.6;
    list-style: none;
    width: 95%;
  }
  .experience-rows li {
    margin: 0 0 12px 0;
    width: 110%;
  }
  .experience-rows .mobile-header {
    display: block;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .experience-rows a {
    color: #2c363f;
    text-decoration: underline;
    -webkit-text-decoration-color: #5dd9c1;
            text-decoration-color: #5dd9c1;
  }
  .experience-rows ul.soda-title {
    margin-top: -3px;
    margin-bottom: 5px;
  }
  .experience-rows .soda {
    margin-top: -10px;
  }
  .experience-rows p.soda {
    margin-top: -2px;
    width: 95%;
  }
  #skills {
    width: 100%;
    display: inline-block;
  }
  #skills h2.section-header {
    margin-bottom: 10px;
    margin-left: -3px;
  }
  #skills .card {
    border: none;
    width: 100%;
  }
  #skills .card-body {
    width: 100%;
  }
  #skills .project-title {
    font-size: calc(16px + 0.5vw);
  }
  #skills .project-desc {
    font-size: calc(11px + 0.5vw);
  }
  #projects {
    width: 100%;
    display: inline-block;
  }
  #projects h2.section-header {
    margin-bottom: 2px;
    margin-left: -3px;
  }
  #projects .card {
    border: none;
  }
  #projects .card {
    width: 100%;
  }
  #projects .card-body {
    width: 100%;
  }
  #projects .project-title {
    font-size: calc(16px + 0.5vw);
  }
  #projects .project-desc {
    font-size: calc(11px + 0.5vw);
  }
  #experience {
    width: 100%;
    display: inline-block;
  }
  #education {
    width: 100%;
    display: inline-block;
  }
  #education .experience-full-width-mobile {
    margin: 5px 6px 10px 20px;
    padding: 0 6px 0 0;
  }
  #education .experience-description {
    width: 95%;
  }
  #skills {
    width: 100%;
    display: inline-block;
  }
  #skills h2.section-header {
    margin-bottom: 2px;
    margin-left: -3px;
  }
  #skills .card {
    border: none;
    width: 100%;
  }
  #skills .card-body {
    width: 100%;
  }
  #skills .project-title {
    font-size: calc(16px + 0.5vw);
  }
  #skills .project-desc {
    font-size: calc(11px + 0.5vw);
  }
  .skill-row h3.skills-title {
    margin: 15px 0 10px 6px;
    padding: 0;
    font-size: calc(16px + 0.5vw);
  }
  .skill-row .skills-description {
    font-size: calc(11px + 0.5vw);
    line-height: 1.8;
    padding: 0 6px 0 6px;
  }
}
/*# sourceMappingURL=styles.css.map */