/* GLOBALS SETTINGS */
body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  max-width: 800px;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

h1,
h2 {
  font-family: "Roboto Mono", monospace;
  color: #2c363f;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", sans-serif;
  color: #2c363f;
  font-weight: 700;
}

a {
  color: #ffffff;
}

a:hover {
  color: #5dd9c1;
}

p {
  font-family: "Roboto Mono", sans-serif;
  font-size: calc(12px + 0.5vw);
  word-wrap: break-word;
  color: #2c363f;
  line-height: 1.5;
}

h2.section-header {
  display: block;
  width: 100%;
  font-size: calc(12px + 0.5vw);
  border-top: 2px #5dd9c1 solid;
  color: #202020;
  padding-top: 5px;
  margin: 20px 0 10px 0;
  font-weight: 700;
}

#contact-header {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px 40px 5px 40px;
  z-index: 1;
  color: white;
  border-bottom: 2px solid #acfcd9;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#contact-header .contact-row {
  margin: 0;
  padding: 0;
  width: 100%;
}

#contact-header .contact-card {
  padding: 0;
  margin: 10px 0 0 0;
  border: none;
  background-color: black;
}

#contact-header p.contact-details {
  font-family: "Roboto Mono", monospace;
  font-size: calc(10px + 0.5vw);
  margin-top: -5px;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
}

#contact-header .icons {
  padding: 0;
  margin-top: 7px;
  padding-right: 7px;
  color: #ffffff;
}

#contact-header .card-body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

#intro h1.my-name {
  font-size: 5vw;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-family: "Roboto Mono", monospace;
  color: #050505;
}

#intro h3.my-headline {
  font-size: 2.5vw;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 20px;
}

#intro p.my-summary {
  font-size: calc(12px + 0.5vw);
  line-height: 1.5;
  color: #2c363f;
}

#skills {
  margin-bottom: 10px;
}

#skills .skills-title {
  padding-right: 70px;
}

#skills h2 {
  margin-bottom: 30px;
}

.skill-row h3.skills-title {
  font-size: calc(14px + 0.5vw);
}

.experience-rows .experience-title {
  margin: 25px 0 0 0;
  padding: 0;
  font-size: calc(14px + 0.5vw);
}

.experience-rows .experience-dates {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: calc(8px + 0.5vw);
  font-weight: 300;
  color: #2c363f;
  text-transform: uppercase;
}

.experience-rows .experience-location {
  margin: 30px 0 0 0;
  color: #2c363f;
  padding: 0;
  font-size: calc(10px + 0.5vw);
}

.experience-rows .experience-city {
  margin: 2px 0 0 0;
  padding: 0;
  font-size: calc(8px + 0.5vw);
  font-weight: 300;
  text-transform: uppercase;
  color: #2c363f;
}

.experience-rows p.experience-description {
  font-size: calc(12px + 0.5vw);
  line-height: 1.5;
  padding: 0;
  margin: 5px 0 10px 0;
  color: #2c363f;
}

#projects {
  margin-bottom: 10px;
}

#projects .skill-box {
  position: relative;
}

#projects h2 {
  margin-bottom: 30px;
}

#projects .view-project p {
  font-weight: 700;
}

#projects .view-project a {
  color: #2c363f;
  font-size: calc(8px + 0.5vw);
  font-weight: 700;
}

#projects .view-project a:hover {
  color: #5dd9c1;
}

#experience {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1800px) {
  #mobile-contact {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #contact-header {
    display: none;
  }
  #projects .view-project {
    font-size: calc(12px + 0.5vw);
    padding-left: 6px;
  }
  #intro {
    margin-top: 0;
    padding-left: 3px;
  }
  #intro h1.my-name {
    font-size: 18vw;
    margin: 0;
    padding: 0 80px 0 3px;
    line-height: 1;
    font-family: "Roboto Mono", monospace;
    color: #050505;
  }
  #intro h3.my-headline {
    font-size: 7vw;
    padding: 0 0 0 6px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 20px;
  }
  #intro p.my-summary {
    font-size: calc(12px + 0.5vw);
    line-height: 1.8;
    padding: 0 6px 0 6px;
    width: 100%;
    color: #2c363f;
  }
  #mobile-contact {
    display: inline;
  }
  #mobile-contact a {
    color: #050505;
  }
  #mobile-contact .card-body {
    padding: 0;
  }
  #mobile-contact .contact-card {
    border: none;
  }
  #mobile-contact .contact-details {
    font-size: calc(12px + 0.5vw);
    font-weight: 700;
    line-height: 1.8;
    padding: 0 6px 0 6px;
    white-space: nowrap;
  }
  #mobile-contact .icons {
    padding-right: 10px;
  }
  .main-container {
    padding-top: 10px;
  }
  h2.section-header {
    padding-left: 6px;
    font-size: calc(16px + 0.5vw);
    font-weight: 300;
  }
  .experience-rows {
    padding-left: 3px;
  }
  .experience-rows .experience-title {
    margin: 15px 0 0 6px;
    padding: 0;
    font-size: 4vw;
  }
  .experience-rows .experience-dates {
    margin: 3px 0 0 6px;
    padding: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 500;
    color: #2c363f;
    text-transform: none;
  }
  .experience-rows .experience-location {
    margin: 3px 0 0 6px;
    color: #2c363f;
    font-weight: 500;
    padding: 0;
    font-size: calc(10px + 0.5vw);
  }
  .experience-rows .experience-city {
    margin: 3px 0 0 6px;
    padding: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 500;
    text-transform: none;
    color: #2c363f;
  }
  .experience-rows p.experience-description {
    font-size: calc(12px + 0.5vw);
    line-height: 1.8;
    padding: 0 6px 0 0;
    margin: 5px 6px 10px 6px;
    color: #2c363f;
  }
  #projects h2 {
    margin-bottom: 10px;
  }
  #skills h2 {
    margin-bottom: 10px;
  }
  .skill-row h3.skills-title {
    margin: 15px 0 10px 6px;
    padding: 0;
    font-size: calc(16px + 0.5vw);
  }
  .skill-row .skills-description {
    font-size: calc(12px + 0.5vw);
    line-height: 1.8;
    padding: 0 6px 0 6px;
  }
}
/*# sourceMappingURL=styles.css.map */